.container{
    width:80%;
    height:100%;
    margin: 0px auto;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav1{
    font-family: Manrope;
    font-weight: 800;
}
.nav2>ul{
    display: flex;
}
.nav2 li{
    list-style: none;
    margin: 30px;
}
.destination{
    font-family: Manrope;
    font-weight: 800;
    text-align: center;
 }
 .where-travel{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color:black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
 }
 .login input{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    border-style: outset;
    border-radius: 10px;
    background-color:azure;
}
.login2 input{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 57px;
    border-style: outset;
    border-radius: 10px;
    background-color:#FF4240;
    color: white;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.login3 input{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 387px;
    width: 100%;
    border-style: outset;
    border-radius: 10px;
    background-color:rgb(240, 245, 255);
}
.login4 input{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width:324px;
    height: 64px;
    border-style: outset;
    border-radius: 10px;
    background-color:rgb(240, 245, 255);
    gap: 10px;
}